h3{
    font-size: 2.3rem;
    text-align: center;

}
#formContact{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 95vh;
    width: 100%;
}

.myForm{
    display: flex;
   
    flex-direction: column;
    width: 40%;
    margin :1.3rem auto;
    padding: 1.3rem 4rem;
    background-color: teal;
    border-radius: 20px;
}
.myForm  input,textarea{
   
    width: 70%;
    margin :0.5rem auto;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    padding: 0.3rem ;
  
}
.myForm button{
    width: 20%;
   
    padding: 0.6rem 0%;
    border-radius: 50%;
    outline: none;
    background-color: coral;
    border: none;
    margin:0.5rem auto;
   cursor: pointer;
   font-weight: bold;
   font-size: 15px;
}
button:active{
    transform: scale(1.1);

}